### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
tplayers = len(purchase_data["SN"].unique())
tplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
titems = len(purchase_data["Item ID"].unique())
avgprice = round(purchase_data["Price"].mean(),2)
pr_df = pd.DataFrame([{"Item Count": titems, 'Avg Price': avgprice}])
#pr_df["Avg Price"].map('${: .2f}'.format)  # needs more work
pr_df

   Item Count  Avg Price
0         179       3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
#gd_df = pd.DataFrame(purchase_data).groupby(["Gender"]).count()
gender_df = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['SN'].nunique()})  #needs more work
gender_df

                       Purchase Count
Gender
Female                             81
Male                              484
Other / Non-Disclosed              11

In [21]:
#gd_df = purchase_data.count(level='Gender')
#gd_df2 = purchase_data.agg({"Gender" : ['sum'])
#gd_df
#gd_df2 = pd.DataFrame({'Percentage': purchase_data.groupby(('Gender')).size() / len(purchase_data) })
#gd_df2

gender_df2 = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Item ID'].count(), 'Percentage': purchase_data.groupby(['Gender']).size()/len(purchase_data)})
gender_df2
#tmale = 0
#tfemale = 0
#tother = 0
#for r in purchase_data:
#    if r[3] == "male":
#        tmale =+ 1
#    elif r[3] == "female":
#        tfemale =+ 1
#    else:
#        tother =+ 1
#print(tmale, tfemale, tother)

                       Purchase Count  Percentage
Gender
Female                            113    0.144872
Male                              652    0.835897
Other / Non-Disclosed              15    0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
print(round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2))
print(purchase_data.groupby(['Gender'])['Item ID'].count())
print(round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format))
print(round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format))

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64
Gender
Female                   $ 3.20
Male                     $ 3.02
Other / Non-Disclosed    $ 3.35
Name: Price, dtype: object
Gender
Female                    14.5%
Male                      83.6%
Other / Non-Disclosed      1.9%
dtype: object

In [49]:
gender_df3 = pd.DataFrame({'Pur Count': purchase_data.groupby(['Gender'])['Item ID'].count(),
                           'Avg Price': round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format),
                           'Pct': round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format),
                           'Avg Pur Total PP' : round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2).map('${: .2f}'.format)})
                           
gender_df3

                       Pur Count Avg Price     Pct Avg Pur Total PP
Gender
Female                       113    $ 3.20   14.5%           $ 4.47
Male                         652    $ 3.02   83.6%           $ 4.07
Other / Non-Disclosed         15    $ 3.35    1.9%           $ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
maxage = purchase_data['Age'].max()
avgage = purchase_data['Age'].mean()
medage = purchase_data['Age'].median()
minage = purchase_data['Age'].min()

print(maxage)
print(avgage)
print(medage)
print(minage)

45
22.714102564102564
22.0
7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [73]:
purchase_data['Pur By Age Group']=pd.cut(purchase_data['Age'],[0,13,20,30,60], right = True,labels =['Child','Teen','Young Adult','Adult'])
print(purchase_data.groupby(['Age'])['Item ID'].count())
round(purchase_data.groupby(['Age'])['Price'].sum()/(purchase_data.groupby(['Age'])['SN'].nunique()),2)

pa_df = purchase_data['Pur By Age Group']=pd.cut(purchase_data['Age'],[0,13,20,30,60], right = True, labels =['Child','Teen','Young Adult','Adult'])
pa_df.describe

Age
7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Item ID, dtype: int64

<bound method NDFrame.describe of 0             Teen
1            Adult
2      Young Adult
3      Young Adult
4      Young Adult
          ...
775    Young Adult
776    Young Adult
777           Teen
778          Child
779    Young Adult
Name: Age, Length: 780, dtype: category
Categories (4, object): ['Child' < 'Teen' < 'Young Adult' < 'Adult']>

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame