### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
tplayers = len(purchase_data["SN"].unique())
tplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
titems = len(purchase_data["Item ID"].unique())
avgprice = round(purchase_data["Price"].mean(),2)
pr_df = pd.DataFrame([{"Item Count": titems, 'Avg Price': avgprice}])
pr_df["Avg Price"].map("${:}".format)  # needs more work
pr_df

   Item Count  Avg Price
0         179       3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#gd_df = pd.DataFrame(purchase_data).groupby(["Gender"]).count()
gender_df = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Item ID'].count()})
gender_df

                       Purchase Count
Gender
Female                            113
Male                              652
Other / Non-Disclosed              15

In [6]:
#gd_df = purchase_data.count(level='Gender')
#gd_df2 = purchase_data.agg({"Gender" : ['sum'])
#gd_df
#gd_df2 = pd.DataFrame({'Percentage': purchase_data.groupby(('Gender')).size() / len(purchase_data) })
#gd_df2

gender_df2 = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Item ID'].count(), 'Percentage': purchase_data.groupby(['Gender']).size()/len(purchase_data)})
gender_df2
#tmale = 0
#tfemale = 0
#tother = 0
#for r in purchase_data:
#    if r[3] == "male":
#        tmale =+ 1
#    elif r[3] == "female":
#        tfemale =+ 1
#    else:
#        tother =+ 1
#print(tmale, tfemale, tother)

                       Purchase Count  Percentage
Gender
Female                            113    0.144872
Male                              652    0.835897
Other / Non-Disclosed              15    0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_df3 = pd.DataFrame({'Pur Count': purchase_data.groupby(['Gender'])['Item ID'].count(),
                           'Avg Price': round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format),
                           'Pct': round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),3).map('{: }%'.format)})
gender_df3

                       Pur Count Avg Price       Pct
Gender
Female                       113    $ 3.20   14.487%
Male                         652    $ 3.02    83.59%
Other / Non-Disclosed         15    $ 3.35    1.923%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame