### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)*********************
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Length of screen Name for total players
tplayers = len(purchase_data["SN"].unique())
tplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
titems = len(purchase_data["Item ID"].unique())
avgprice = round(purchase_data["Price"].mean(),2)
pr_df = pd.DataFrame([{"Unique Item Count": titems, 'Avg Price': avgprice}])
#apply currency formating to DataFrame
pr_df['Avg Price']=pr_df['Avg Price'].map('${: .2f}'.format)
#pr_df["Avg Price"].map('${: .2f}'.format)  # needs more work
pr_df

   Unique Item Count Avg Price
0                179    $ 3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#gd_df = pd.DataFrame(purchase_data).groupby(["Gender"]).count()
gender_df = pd.DataFrame({'Player Count': purchase_data.groupby(['Gender'])['SN'].nunique(),
                         'Pct': round((((purchase_data.groupby(['Gender'])['SN'].nunique())/tplayers))*100,2)})
gender_df['Pct']=gender_df['Pct'].map('{: .2f}%'.format)
#gender_df.sort_values(['Pct']), ascending =False
gender_df

                       Player Count      Pct
Gender
Female                           81   14.06%
Male                            484   84.03%
Other / Non-Disclosed            11    1.91%

In [10]:
gender_df2 = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Item ID'].count(),
                           'Percentage': purchase_data.groupby(['Gender']).size()/len(purchase_data)*100}).round(2)
gender_df2['Percentage']=gender_df2['Percentage'].map('{: .2f}%'.format)
gender_df2

                       Purchase Count Percentage
Gender
Female                            113     14.49%
Male                              652     83.59%
Other / Non-Disclosed              15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
gen_pa=(round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2))
gen_pa_cnt = (purchase_data.groupby(['Gender'])['Item ID'].count())
gen_pa_avgprice= (round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format))
gen_pa_pct=round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format)
#gen_pa_avgtotalpur =(round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format))
gen_pa_avgtotalpur = round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2).map('${: .2f}'.format)

In [12]:
gender_df3 = pd.DataFrame({'Pur Count': gen_pa_cnt ,
                           'Avg Price': gen_pa_avgprice,
                           'Avg Total PP' : gen_pa_avgtotalpur})
                           
gender_df3

                       Pur Count Avg Price Avg Total PP
Gender
Female                       113    $ 3.20       $ 4.47
Male                         652    $ 3.02       $ 4.07
Other / Non-Disclosed         15    $ 3.35       $ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
maxage = purchase_data['Age'].max()
avgage = purchase_data['Age'].mean()
medage = purchase_data['Age'].median()
minage = purchase_data['Age'].min()

print(maxage)
print(avgage)
print(medage)
print(minage)

45
22.714102564102564
22.0
7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
abins = pd.DataFrame()
labels =['0-10', '11-20', '21-30','31-40','41-100']
bins = [0,10,20,30,40,60]
abins['Total Count'] = pd.cut(purchase_data['Age'],bins=bins, labels=labels, ordered=False).value_counts()
abins

        Total Count
21-30           402
11-20           254
31-40            85
0-10             32
41-100            7

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
total_pur_amt = purchase_data.groupby(['Gender'])['Price'].sum()
tspdn_gender_df = pd.DataFrame({'Total Pur Amt' : total_pur_amt}).sort_values(by=['Total Pur Amt'], ascending = False)
tspdn_gender_df['Total Pur Amt']=tspdn_gender_df['Total Pur Amt'].map('${: .2f}'.format)
tspdn_gender_df

                      Total Pur Amt
Gender
Male                      $ 1967.64
Female                     $ 361.94
Other / Non-Disclosed       $ 50.19

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
#Create data frame for requested columns and group by item id and item name
pitems = purchase_data[['Item ID' ,'Item Name','Price']].groupby(['Item ID', 'Item Name'])
#Item count
pitems_cnt = pitems['Price'].count()
#avg item price = Total purchase value / item count
pitems_avg_price = pitems['Price'].sum()/pitems_cnt
# Total purchase value
tpur_value = pitems['Price'].sum()
#data frame and sort
pop_items = pd.DataFrame({'Purchase Count': pitems_cnt, 'Avg Item Price': pitems_avg_price,
                          'Total Purchase Value':tpur_value}).sort_values(["Purchase Count"], ascending=False)
pop_items['Avg Item Price']=pop_items['Avg Item Price'].map('${: .2f}'.format)
pop_items['Total Purchase Value']=pop_items['Total Purchase Value'].map('${: .2f}'.format)
pop_items.head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
pop_items.sort_values(["Total Purchase Value"], ascending=False)
pop_items.head()

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77