### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
tplayers = len(purchase_data["SN"].unique())
tplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
titems = len(purchase_data["Item ID"].unique())
avgprice = round(purchase_data["Price"].mean(),2)
pr_df = pd.DataFrame([{"Item Count": titems, 'Avg Price': avgprice}])
#pr_df["Avg Price"].map('${: .2f}'.format)  # needs more work
pr_df

   Item Count  Avg Price
0         179       3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [81]:
#gd_df = pd.DataFrame(purchase_data).groupby(["Gender"]).count()
gender_df = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['SN'].nunique(),
                         'Pct': round(((purchase_data.groupby(['Gender'])['SN'].nunique())/tplayers),3)})  #needs more work
gender_df

                       Purchase Count    Pct
Gender
Female                             81  0.141
Male                              484  0.840
Other / Non-Disclosed              11  0.019

In [5]:
gender_df2 = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Item ID'].count(), 'Percentage': purchase_data.groupby(['Gender']).size()/len(purchase_data)})
gender_df2

                       Purchase Count  Percentage
Gender
Female                            113    0.144872
Male                              652    0.835897
Other / Non-Disclosed              15    0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
print(round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2))
print(purchase_data.groupby(['Gender'])['Item ID'].count())
print(round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format))
print(round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format))

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64
Gender
Female                   $ 3.20
Male                     $ 3.02
Other / Non-Disclosed    $ 3.35
Name: Price, dtype: object
Gender
Female                    14.5%
Male                      83.6%
Other / Non-Disclosed      1.9%
dtype: object

In [7]:
gender_df3 = pd.DataFrame({'Pur Count': purchase_data.groupby(['Gender'])['Item ID'].count(),
                           'Avg Price': round(purchase_data.groupby(['Gender'])['Price'].mean(),2).map('${: .2f}'.format),
                           'Pct': round((purchase_data.groupby(['Gender']).size()/len(purchase_data)*100),1).map('{: .1f}%'.format),
                           'Avg Pur Total PP' : round(purchase_data.groupby(['Gender'])['Price'].sum()/(purchase_data.groupby(['Gender'])['SN'].nunique()),2).map('${: .2f}'.format)})
                           
gender_df3

                       Pur Count Avg Price     Pct Avg Pur Total PP
Gender
Female                       113    $ 3.20   14.5%           $ 4.47
Male                         652    $ 3.02   83.6%           $ 4.07
Other / Non-Disclosed         15    $ 3.35    1.9%           $ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
maxage = purchase_data['Age'].max()
avgage = purchase_data['Age'].mean()
medage = purchase_data['Age'].median()
minage = purchase_data['Age'].min()

print(maxage)
print(avgage)
print(medage)
print(minage)

45
22.714102564102564
22.0
7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
#get the number of columns and rows
purchase_data.shape

(780, 7)

In [83]:
purchase_data

In [112]:
abins = pd.DataFrame()
labels =['<10', '11 -20', '21-30','31-40','40+']
bins = [0,10,20,30,40,60]
abins['Total Count'] = pd.cut(purchase_data['Age'],bins=bins, labels=labels, ordered=False).value_counts()

abins
#,purdata_age_grp = pd.cut(purchase_data['Age'],[0,13,20,30,60], right = True, labels =['Child','Teen','Young Adult','Adult'])
#pur_age_grp = pd.cut(purchase_data['Age'],[0,13,20,30,60], right = True,labels =['Child','Teen','Young Adult','Adult'])
#pd.cut(pur_age_grp,4)
#pur_age = purchase_data.groupby(['Age'])['Item ID'].count()
#avg_pur_pr_age = round(purchase_data.groupby(['Age'])['Price'].mean(),2).map('${: .2f}'.format)
##purchase_data.groupby(['Age'])['Price'].sum()
#avg_pt_age = purchase_data.groupby(['Age'])['Price'].sum()/(purchase_data.groupby(['Age'])['Item ID'].count())
#avg_pt_age = round(purchase_data.groupby(['Age'])['Price'].sum()/(purchase_data.groupby(['Age'])['SN'].nunique()),2).map('${: .2f}'.format)
#pa_df = pd.DataFrame({'Age': pur_age, 'Avg Pur Price' : avg_pur_pr_age, 'Avg Total Pur' : avg_pt_age })
#pur_age_grp
#pa_df
#print(pur_age_grp)
#print(pur_age)
#print(avg_pur_pr_age)
#print(avg_pt_age)

        Total Count
21-30           402
11 -20          254
31-40            85
<10              32
40+               7

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
total_pur_amt = purchase_data.groupby(['Gender'])['Price'].sum()
tspdn_gender_df = pd.DataFrame({'Total Pur Amt' : total_pur_amt}).sort_values(by=['Total Pur Amt'], ascending = False)
tspdn_gender_df

                       Total Pur Amt
Gender
Male                         1967.64
Female                        361.94
Other / Non-Disclosed          50.19

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [128]:
pitem_df = pd.DataFrame(purchase_data).loc[ :,'Item ID':'Price'].groupby(['Item ID'])['Item Name'].count()
tpurval = pd.DataFrame(purchase_data).loc[ :,'Item ID':'Price'].groupby(['Item ID'])['Item Name'].count()* Price
printtpurval
#pitem_df

NameError: name 'Price' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]